body {
    color: rgb(0, 0, 0);
}

.background-image{
    background-image: url('https://media.discordapp.net/attachments/830449527521542204/944303561502765076/a-heart-2321547.png?width=676&height=676');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar{
    height: 100px;
    width: 100%;
    background-color: hsl(165, 39%, 80%);
    display: block;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li{
    display: inline-block;
}

#block-1{
    width: 20%;
    float: left;
    height: 150%;
}

#block-2{
    width: 80%;
    float: right;
    height: 150%;
}

.navbar a{
    font-family: futura-pt;
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 35px 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.navbar a:hover{
    background: deepskyblue;
}

.wrapper{
    margin: 0 auto;
    width: 1000px;
}
